
.fondo-gris{
    background-color: #ece9e9;
}

.fondo-oscuro{
    background-color: #dad7d7; 
}

.fondo-claro{
    background-color: white;
}

.letra-oscura{
    color:#7c7c7c;
}

.letra-clara{
    color:#bdbcbc;
}

.mes{
    background-color: #e12b61;
    color: white;
    text-align: center;
}

.cabecera{
    background-color: #f0638b;
    margin: 10px;
    color: white;
    text-align: center;
}

.fecha{    
    margin: 10px;    
    font-weight: bold;
    height: 150px;
}

.red {
    color: #e12b61;
}
